BDL.A2A.FACT/BDL.A2A.FACT/SOA/Schemas/FACT_PaymentUpload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:b2b/damco/a2a/fact/payment" targetNamespace="urn:oracle:b2b/damco/a2a/fact/payment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<FileName>C:\Users\ABA466\Documents\Oracle\Oracle Document Editor\Workspace\FACT\Guidelines\Payment\FACT_PaymentUpload.ecs</FileName>
			<InternalID>{5101B5A7-B373-464F-879F-CEB29320C398}</InternalID>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Message-PAYMENT" type="Message-PAYMENT"/>
	<xsd:complexType name="Message-PAYMENT">
		<xsd:annotation>
			<xsd:appinfo>
				<UNMKey>Full|Composite|-&lt;Node ID&gt;|Field|-&lt;Node ID&gt;|GroupRecord|-&lt;Node ID&gt;|Message|-&lt;Node ID&gt;|Record|-&lt;Node ID&gt;|ReplacementCharacter|_|InternalSeparator|-</UNMKey>
				<UNMKeyType/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Internal-Properties" type="Internal-Properties" minOccurs="0"/>
			<xsd:element name="GroupRecord-01" type="GroupRecord-01" minOccurs="0" maxOccurs="999" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Message" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="PAYMENT" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="FACT Payment" type="xsd:string"/>
		<xsd:attribute name="XDataVersion" fixed="2.0" type="xsd:string"/>
		<xsd:attribute name="Standard" fixed="PFF" use="required" type="xsd:string"/>
		<xsd:attribute name="Version" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
		<xsd:attribute name="CreatedBy" type="xsd:string"/>
		<xsd:attribute name="CreatedDate" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Positional-Field-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" type="xsd:string" use="optional" default="Field"/>
				<xsd:attribute name="DataType" type="xsd:string" use="optional" default="String"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Positional-Field-Decimal-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Type" type="xsd:string" use="optional" default="Field"/>
				<xsd:attribute name="DataType" type="xsd:string" use="optional" default="Number"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Positional-Field-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Type" type="xsd:string" use="optional" default="Field"/>
				<xsd:attribute name="DataType" type="xsd:string" use="optional" default="String"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Positional-Field-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" type="xsd:string" use="optional" default="Field"/>
				<xsd:attribute name="DataType" type="xsd:string" use="optional" default="String"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Internal-Properties">
		<xsd:sequence>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data-Structure">
		<xsd:sequence>
			<xsd:element name="Lookup" type="Lookup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
	</xsd:complexType>
	<xsd:complexType name="Lookup">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GroupRecord-01">
		<xsd:annotation>
			<xsd:documentation>999</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Record-10" type="Record-10" minOccurs="0" nillable="true"/>
			<xsd:element name="Record-20" type="Record-20" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="GroupRecord" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="01" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Payment Structure" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Record-10">
		<xsd:sequence>
			<xsd:element name="Field-RecordID" type="Field-RecordID" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-FiscalNumber" type="Field-FiscalNumber" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Name" type="Field-Name" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Record" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="10" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Header" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Field-RecordID">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="6"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="RecordID" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="RecordID" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-FiscalNumber">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="FiscalNumber" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="FiscalNumber" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Name">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="20"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Name" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Name" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Record-20">
		<xsd:sequence>
			<xsd:element name="Field-LineID" type="Field-LineID" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Type" type="Field-Type" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Date" type="Field-Date" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Time" type="Field-Time" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Amount" type="Field-Amount" minOccurs="0" nillable="true"/>
			<xsd:element name="Field-Currency" type="Field-Currency" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Record" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="20" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Payment Line" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Field-LineID">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="7"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="LineID" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="LineID" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Type">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="10"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Type" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Type" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Date">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="8"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Date" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Date" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Time">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="4"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Time" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Time" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Amount">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="15"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Amount" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Amount" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Currency">
		<xsd:simpleContent>
			<xsd:restriction base="Positional-Field-String-Type">
				<xsd:minLength value="0"/>
				<xsd:maxLength value="3"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Currency" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Currency" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="String" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>