BSL.Customer.Partner1/BSL.Customer.Partner1/SOA/Schemas/Partner1_PaymentUpload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="urn:oracle:b2b/damco/customer/partner1/payments" targetNamespace="urn:oracle:b2b/damco/customer/partner1/payments" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<FileName>C:\Users\ABA466\Documents\Oracle\Oracle Document Editor\Workspace\Partner1\Guidelines\Payments\Partner1_PaymentUpload.ecs</FileName>
			<InternalID>{2E4465A9-157A-4499-9E1C-E8E02F177A09}</InternalID>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Message-PAYMENT" type="Message-PAYMENT"/>
	<xsd:complexType name="Message-PAYMENT">
		<xsd:annotation>
			<xsd:appinfo>
				<UNMKey>Full|Field|-&lt;Node ID&gt;|GroupRecord|-&lt;Node ID&gt;|Message|-&lt;Node ID&gt;|Record|-&lt;Node ID&gt;|ReplacementCharacter|_|InternalSeparator|-</UNMKey>
				<UNMKeyType/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Internal-Properties" type="Internal-Properties" minOccurs="0"/>
			<xsd:element name="Record-10" type="Record-10" minOccurs="0" maxOccurs="999" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Message" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="PAYMENT" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Partner1 Payment" type="xsd:string"/>
		<xsd:attribute name="XDataVersion" fixed="2.0" type="xsd:string"/>
		<xsd:attribute name="Standard" fixed="DFF" use="required" type="xsd:string"/>
		<xsd:attribute name="Version" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
		<xsd:attribute name="CreatedBy" type="xsd:string"/>
		<xsd:attribute name="CreatedDate" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Delimited-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-Number-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-base64Binary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-PositiveInteger-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:positiveInteger">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Delimited-Float-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:float">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="DataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Internal-Properties">
		<xsd:sequence>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data-Structure">
		<xsd:sequence>
			<xsd:element name="Lookup" type="Lookup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
	</xsd:complexType>
	<xsd:complexType name="Lookup">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Record-10">
		<xsd:sequence>
			<xsd:element name="Field-FiscalNumber" type="Field-FiscalNumber"/>
			<xsd:element name="Field-CustomerName" type="Field-CustomerName"/>
			<xsd:element name="Field-OperationType" type="Field-OperationType"/>
			<xsd:element name="Field-Date" type="Field-Date"/>
			<xsd:element name="Field-Time" type="Field-Time"/>
			<xsd:element name="Field-Amount" type="Field-Amount"/>
			<xsd:element name="Field-Currency" type="Field-Currency"/>
		</xsd:sequence>
		<xsd:attribute name="Type" fixed="Record" type="xsd:string"/>
		<xsd:attribute name="ID" fixed="10" type="xsd:string"/>
		<xsd:attribute name="Name" fixed="Record Line" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Field-FiscalNumber">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-String-Type">
				<xsd:minLength value="5"/>
				<xsd:maxLength value="10"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="FiscalNumber" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Customer Fiscal Number" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="AN" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-CustomerName">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="20"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="CustomerName" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Customer Name" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="AN" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-OperationType">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-String-Type">
				<xsd:minLength value="4"/>
				<xsd:maxLength value="10"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="OperationType" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Operation Type" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="AN" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Date">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-Number-Type">
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Date" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Date" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="R" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Time">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-Number-Type">
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Time" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Time" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="R" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Amount">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-String-Type">
				<xsd:minLength value="15"/>
				<xsd:maxLength value="15"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Amount" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Amount" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="AN" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Field-Currency">
		<xsd:simpleContent>
			<xsd:restriction base="Delimited-String-Type">
				<xsd:minLength value="3"/>
				<xsd:maxLength value="3"/>
				<xsd:attribute name="Type" fixed="Field" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="Currency" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Currency" type="xsd:string"/>
				<xsd:attribute name="DataType" fixed="AN" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>